@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/mixins';

:host {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.merca-modal-header-title {
  flex: 1;
  margin-right: $modalPadding;
  font-weight: bold;
  @include calcFontSize(20, 20);
}

.link {
  @include calcFontSize(20, 20);
  color: $mainTextColor;
}
