<div *ngIf="title" class="merca-modal-header-title">
  {{ title }}
</div>
<ng-content></ng-content>
<button
  *ngIf="!hideCloseButton"
  type="button"
  ModalClose
  [modalResult]="modalResult"
  class="merca-button-icon link"
  (click)="clickClose($event)"
>
  <span class="material-icons">close</span>
</button>
