<form class="modal-container" #modalBody [formGroup]="form">
  <merca-modal-header [title]="'authentication.modal.title' | translate"></merca-modal-header>
  <div class="merca-modal-body">
    <div class="form-group">
      <div class="form-group">
        <label for="username" class="form-label asterisk">
          {{ 'authentication.modal.username' | translate }}
        </label>
        <input
          #usernameInput
          id="username"
          type="text"
          class="form-control"
          tabindex="1"
          [formControlName]="authenticationFormName.USER_NAME"
        />
        <field-error *ngIf="showError(form.get(authenticationFormName.USER_NAME), 'required')">
          {{ 'core.errors.form.required' | translate }}
        </field-error>
      </div>
      <div class="form-group">
        <label for="password" class="form-label asterisk">
          {{ 'authentication.modal.password' | translate }}
        </label>
        <input
          #passwordInput
          id="password"
          type="password"
          class="form-control"
          [formControlName]="authenticationFormName.PASSWORD"
        />
        <field-error *ngIf="showError(form.get(authenticationFormName.PASSWORD), 'required')">
          {{ 'core.errors.form.required' | translate }}
        </field-error>
      </div>
    </div>
  </div>
  <merca-modal-footer
    [primaryText]="'global.save' | translate"
    [secondaryText]="'global.close' | translate"
    (primaryClick)="onAccept()"
    (secondaryClick)="onClose()"
  ></merca-modal-footer>
</form>
