<button
  class="merca-button-secondary"
  [type]="secondaryType"
  [disabled]="secondaryDisabled"
  (click)="secondaryClick.emit()"
  *ngIf="secondaryText"
>
  {{ secondaryText | translate }}
</button>
<ng-content></ng-content>
<button
  class="merca-button-primary"
  [type]="primaryType"
  [disabled]="primaryDisabled"
  (click)="primaryClick.emit()"
  *ngIf="primaryText"
>
  {{ primaryText | translate }}
</button>
