<div
  class="modal-component"
  [ngClass]="{ 'overlay-color': overlay, 'overlay-opaque': overlayOpaque }"
  (click)="onOverlayClicked()"
  (presEsc)="onPressEsc()"
>
  <div
    class="modal-container"
    [ngClass]="modalClasses"
    (click)="onDialogClicked($event)"
    (mousedown)="insideModal = true"
  >
    <ng-template mercaInsertion> </ng-template>
  </div>
</div>
