@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/mixins';

@keyframes fadein {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@mixin maxSize($padding) {
  max-width: calc(100vw - #{$padding} * 2);
  max-height: calc(100vh - #{$padding} * 2);
}

.modal-component {
  @include createFlexBox(row, center, center, nowrap);
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;

  &.overlay-color {
    background-color: rgba(17, 17, 17, 0.3);
  }

  &.overlay-opaque {
    backdrop-filter: blur(100vw);
  }
}

.modal-container {
  @include boxShadow;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: $borderRadius;
  padding: 0;
  overflow: auto;
  animation: fadein 0.3s ease-in-out;

  &.small {
    @include maxSize($modalPadding);
    width: 294px;
  }

  &.medium {
    @include maxSize($modalPadding);
    width: 576px;
  }

  &.large {
    @include maxSize($modalPadding);
    width: 864px;
  }

  &.extra-large {
    @include maxSize($modalPadding);
    width: 1024px;
  }

  &.fullscreen {
    @include maxSize('0px');
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}

.modal-padding {
  padding: $modalPadding;
}
