@import '../../../assets/styles/variables';

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  background-color: $lightGray;
  border-top: 0.5px solid $mediumGray;
  padding: 0 $containerPadding;
}
