<div class="home">
  <h1 class="home-title">{{ 'home.title' | translate }}</h1>
  <div class="content">
    <app-screws-box></app-screws-box>
  </div>
</div>
<ngx-spinner size="medium" [type]="'ball-spin'"></ngx-spinner>