@import '../../../../../assets/styles/variables';

.settings {
  text-align: end;
}

.table-container {
  max-height: 500px;
  min-width: 600px;
  overflow: scroll;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.pagination-container {
  border-top: 0.5px solid $mediumGray;
}
