<div class="settings">
  <button id="settings-screw" type="button" class="merca-button-icon" (click)="openModal()">
    <span class="material-icons">settings</span>
  </button>
</div>
<div class="table-container">
  <div class="table-data">
    <table class="table">
      <thead>
        <tr class="table__row section-table-sticky_row">
          <ng-container *ngFor="let column of columns">
            <th class="table__cell table__cell--head sticky sticky--top" [hidden]="!column.visible">
              {{ column.label | translate }}
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody *ngIf="columnsData.length > 0; else emptyElseTable">
        <ng-container *ngFor="
            let item of columnsData
              | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: currentPage,
                    totalItems: totalItems
                  }
          ">
          <tr class="table__row">
            <ng-container *ngFor="let column of columns">
              <td class="table__cell table__cell--body"
                [hidden]="!column.visible || column.key === columnElements.ACTIONS">
                {{ item[column.key] || '-' }}
              </td>
            </ng-container>
            <td class="table__cell table__cell--body">
              <button id="delete-screw" type="button" class="merca-button-icon" (click)="deleteScrew(item)">
                <span class="material-icons">delete</span>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <ngx-spinner size="medium" [type]="'ball-spin'"></ngx-spinner>
</div>
<div class="pagination-container">
  <div class="pagination">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
</div>

<ng-template #emptyElseTable>
  <tbody>
    <tr class="table__row table__row--footer">
      <td class="table__cell table__cell--body">
        {{ 'global.table-items-empty' | translate }}
      </td>
    </tr>
  </tbody>
</ng-template>