<merca-modal-header [title]="'delete-screw-modal.modal.title' | translate"></merca-modal-header>
<div class="modal-body">
  <p>{{ 'delete-screw-modal.modal.description' | translate }}</p>
</div>
<merca-modal-footer
  [primaryText]="'global.save' | translate"
  [secondaryText]="'global.close' | translate"
  (primaryClick)="onAccept()"
  (secondaryClick)="onClose()"
></merca-modal-footer>
