<div class="content">
  <h2 class="screws-box-title">{{ 'screws-box.title' | translate }}</h2>
  <div class="elements-container">
    <div class="box-text">
      <label>{{ 'screws-box.text' | translate }}</label>
      <span class="screws-box-text">{{ totalItems }}</span>
    </div>
    <div class="button-container">
      <button id="mercadona_footer_add_products" type="button" class="merca-button-primary"
        (click)="navegateToScrews()">
        {{ 'screws-box.button.review' | translate }}
      </button>
    </div>
  </div>
</div>