@import '../../../../../../../assets/styles/variables';

.content {
  border: 0.5px solid $mediumGray;
  border-radius: $borderRadius;
  padding: 16px;
  height: 200px;
  width: 100%;
}

.elements-container {
  display: flex;
  flex-direction: column;
  padding: 16px;

  .box-text {
    margin-bottom: 16px;
  }

  label {
    margin-right: 0.5rem;
    display: inline-block;

    &::after {
      content: ':';
    }
  }

}
