<form class="modal-container" #modalBody [formGroup]="form">
  <merca-modal-header [title]="'create-screw-modal.modal.title' | translate"></merca-modal-header>
  <div class="modal-body">
    <div class="merca-modal-body">
      <div class="form-group">
        <div class="form-group">
          <label for="name" class="form-label asterisk">
            {{ 'create-screw-modal.modal.name' | translate }}
          </label>
          <input
            #nameInput
            id="name"
            type="text"
            class="form-control"
            tabindex="1"
            [formControlName]="createScrewFormName.NAME"
          />
          <field-error *ngIf="showError(form.get(createScrewFormName.NAME), 'required')">
            {{ 'core.errors.form.required' | translate }}
          </field-error>
        </div>
        <div class="form-group form-group__inline">
          <div class="form-group">
            <label for="price" class="form-label asterisk">
              {{ 'create-screw-modal.modal.price' | translate }}
            </label>
            <input
              #priceInput
              id="price"
              type="number"
              class="form-control"
              [formControlName]="createScrewFormName.PRICE"
            />
            <field-error *ngIf="showError(form.get(createScrewFormName.PRICE), 'required')">
              {{ 'core.errors.form.required' | translate }}
            </field-error>
          </div>
          <div class="form-group">
            <label for="format" class="form-label asterisk">
              {{ 'create-screw-modal.modal.format' | translate }}
            </label>
            <select
              #formatSelect
              id="format"
              type="text"
              class="form-control"
              [formControlName]="createScrewFormName.FORMAT"
            >
              <ng-container *ngFor="let format of formatTypes">
                <option [value]="format.id">{{ format.description }}</option>
              </ng-container>
            </select>
            <field-error *ngIf="showError(form.get(createScrewFormName.FORMAT), 'required')">
              {{ 'core.errors.form.required' | translate }}
            </field-error>
          </div>
        </div>
        <div class="form-group">
          <label for="brand" class="form-label asterisk">
            {{ 'create-screw-modal.modal.brand' | translate }}
          </label>
          <input
            #brandInput
            id="brand"
            type="text"
            class="form-control"
            [formControlName]="createScrewFormName.BRAND"
          />
          <field-error *ngIf="showError(form.get(createScrewFormName.BRAND), 'required')">
            {{ 'core.errors.form.required' | translate }}
          </field-error>
        </div>
      </div>
    </div>
  </div>
  <merca-modal-footer
    [primaryText]="'global.save' | translate"
    [secondaryText]="'global.close' | translate"
    (primaryClick)="onAccept()"
    (secondaryClick)="onClose()"
  ></merca-modal-footer>
</form>
