@import '../../../assets/styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $headerHeight;
  border-bottom: 0.5px solid #e6e6e6;
  padding: 0 $containerPadding;
  ;

  .header-button {
    font-weight: bold;

  }

  .logo {
    display: block;
    width: 250px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
  }

  .content {
    padding: 0 $containerPadding;
  }
}
