<header class="header">
  <a class="logo" [href]="homeUrl" [ngStyle]="{ 'background-image': logoUrl }"></a>
  <div class="content">
    <ul class="merca-list merca-list--inline">
      <ng-container [ngTemplateOutlet]="headerElementsTemplate"></ng-container>
    </ul>
  </div>
</header>

<ng-template #headerElementsTemplate>
  <li class="merca-list__item" *ngIf="!userName">
    <button
      id="mercadona_header_authentication"
      type="button"
      class="merca-button-icon header-button"
      (click)="onOpenModal()"
    >
      {{ 'mercadona.header.option.authentication' | translate }}
      <span class="material-icons">login</span>
    </button>
  </li>
  <li class="merca-list__item" *ngIf="userName">
    <button
      id="mercadona_header_authentication"
      type="button"
      class="merca-button-icon header-button"
      (click)="onLogout()"
    >
      {{ userName }}
      <span class="material-icons">logout</span>
    </button>
  </li>
</ng-template>
