<div class="container">
  <button id="mercadona_footer_add_products" type="button" class="merca-button-primary" (click)="openModal()">
    {{ 'footer-elements.button.add-products' | translate }}
  </button>
</div>