@import './assets/styles/list';
@import './assets/styles/button';
@import './assets/styles/mixins';
@import './assets/styles/grid-form';
@import './assets/styles/table';
@import './assets/styles/variables';

html,
body {
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

* {
  color: $mainTextColor;
  font-family: "Muli";
  font-size: 1.125rem;
}

.material-icons {
  color: $mediumGrayActive;
}

.asterisk {
  &::after {
    content: '*';
    color: $tomatoRedColor;
  }
}
