@import "./variables";

$mercaButtonFontSize: 1rem;
$mercaButtonIconFontSize: 1.125rem;
$mercaButtonPaddingX: 15px;
$mercaButtonPaddingY: 2px;
$mercaButtonSize: 36px;
$mercaButtonMiniSize: 30px;

@mixin merca-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: $mercaButtonPaddingY $mercaButtonPaddingX;
  min-width: $mercaButtonSize;
  width: auto;
  height: $mercaButtonSize;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-size: $mercaButtonFontSize;
  line-height: 18px;

}

.merca-button-primary {
  @include merca-button;
  border-width: 2px;
  border-style: solid;
  border-radius: $borderRadius;
  background-color: $mercaGreen;
  border-color: $mercaGreenDark;
  color: $whiteColor;

  &:focus,
  &:hover {
    background-color: $mercaGreenDark;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $backgroundColorDisabled;
    border-color: $lightGray;
    color: $lightGrayInactive;
  }
}

.merca-button-secondary {
  @include merca-button;
  border-width: 2px;
  border-style: solid;
  border-radius: $borderRadius;
  border-color: $mediumGray;
  background: transparent;

  &:focus,
  &:hover {
    background-color: $backgroundColorDisabled;
  }

  &:disabled {
    cursor: not-allowed;
    color: $lightGrayInactive;
    border-color: $lightGrayInactive;
    background-color: $backgroundColorDisabled;
  }

}

.merca-button-icon {
  @include merca-button;
  padding: 0;
  background: transparent;
  border: none;
  font-size: $mercaButtonIconFontSize;
  color: $darkGray;

  &:hover,
  &:focus {
    color: $blackColor;
  }

  &:disabled {
    cursor: not-allowed;
    color: $lightGrayInactive;
    background: transparent;
  }

  >.material-icons {
    color: inherit;
    font-size: inherit;
    font-size: 1.5rem;
  }
}
