@import './variables';

.form-group {
  display: flex;

  &:not(.form-group__inline) {
    flex-direction: column;
  }

  &.form-group__inline {
    flex-direction: row;
  }

  input,
  select {
    height: 40px;
    font-size: 1rem;
  }
}

:not(.form-group__inline) {

  >.form-group:not(.form-group_group)+.form-group:not(.form-group_group),
  >.form-control+.form-control {
    margin-top: 10px;
  }

  >.form-group.form-group__group+.form-group,
  >.form-group+.form-group.form-group__group {
    margin-top: 20px;
  }
}

.form-group__inline {

  >.form-group:not(.form-group_group)+.form-group:not(.form-group_group),
  >.form-control+.form-control {
    margin-left: 10px;
  }

  >.form-group.form-group__group+.form-group,
  >.form-group+.form-group.form-group__group {
    margin-left: 20px;
  }
}

.form-label {
  color: $mainTextColor;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.form-description {
  color: $mainTextColor;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.form-group>.form-label+.form-control {
  margin-top: 5px;
}

.form-description+.form-group {
  margin-top: 10px;
}

.form-group:not(.form-group__min),
.form-control {
  width: 100%;
}
