@import "./variables";

$mercaListItemMargin: 10px;
$mercaListGroupMargin: 20px;

.merca-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

:not(.merca-list--inline) {
  >.merca-list_item+.merca-list_item {
    margin-top: $mercaListItemMargin;
  }

  &.merca-list--group {
    >.merca-list_item+.merca-list_item {
      margin-top: $mercaListGroupMargin;
    }
  }

  >.merca-list__item--separator {
    border-top: 1px solid $mediumGray;
  }
}

.merca-list--inline {
  display: flex;
  align-items: center;
  flex-direction: row;

  >.merca-list_item+.merca-list_item {
    margin-left: $mercaListItemMargin;
  }

  &.merca-list--group {
    >.merca-list_item+.merca-list_item {
      margin-left: $mercaListGroupMargin;
    }
  }

  >.merca-list__item--separator {
    border-left: 1px solid $mediumGray;
  }
}
