@import './variables';

//## Mixin for apply flex properties to container.
//## PARAMETERS: flex-direction, align-items, justify-content, flex-wrap
@mixin createFlexBox($flexDirection, $alignItems, $justifyContent, $wrapMode) {
  display: flex;
  flex-flow: $flexDirection $wrapMode;
  flex-shrink: 0;
  align-items: $alignItems;
  justify-content: $justifyContent;
  @content;
}

// Return size REM from given size in PX
@function calculateRem($size) {
  $remSize: $size / 16;
  @return $remSize * 1rem;
}

// Return relative line-height from font-size and line-height in PX
@function calculateLH($size, $lHeight) {
  $lineHeight: $lHeight / $size;
  @return $lineHeight;
}

// CALCULATE FONT-SIZE AND LINE-HEIGHT
// $size sets the font-size and must be expressed in PX without units.
// $lHeight sets the line-height and must be expressed in PX without units.
// example:
// @include calcFontSize(27, 31);
@mixin calcFontSize($size, $lHeight) {
  font-size: #{$size}px;
  font-size: calculateRem($size);
  line-height: calculateLH($size, $lHeight);
}

@mixin boxShadow($xOffset: 0, $yOffset: 0) {
  box-shadow: $xOffset $yOffset 10px 0 rgba(0, 0, 0, 0.5);
}
