$thColor: #77797c;
$tdColor: #282828;
$borderColor: #dadbdb;
$paginationHeight: 50px;
$tableDescription: #787a7d;

.table {
  width: 100%;
  border-spacing: 0;
}

.table__row {
  height: 36px;
  min-height: 36px;
}

.table__cell {
  text-align: left;
  border-bottom: 1px solid $borderColor;
  white-space: nowrap;
  padding: 0 5px;
}

.table__cell--head {
  color: $thColor;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  font-size: 10px;
  background: #fff;

  &.sticky--top {
    z-index: 101;
  }

  &.sticky--left {
    z-index: 100;
  }

  &.sticky--left.sticky--top {
    z-index: 102;
  }
}

.table__cell--body {
  color: $tdColor;
  letter-spacing: 0.4px;
  font-size: 12px;
  background: #fff;
}

.table__row--footer {
  .table__cell--body {
    border: none;
  }
}

.table-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.table-data {
  flex: 1;
  overflow: auto;
}
