//BOX MODEL
$headerHeight: 70px;
$footerHeight: 70px;
$borderRadius: 4px;
$containerPadding: 20px;
$modalPadding: 20px;

//COLORS

$whiteColor: #fff;
$blackColor: #333;
$mainTextColor: $blackColor;

$veryLightGray: #f0f0f0;
$lightGray: #f1efeb;
$lightGrayActive: #dedede;
$lightGrayInactive: #a8a7a4;

$mediumGray: #b5b6b8;
$mediumGrayActive: #919395;

$darkGray: #3b4435b3;

$mercaGreen: #00ab61;
$mercaGreenDark:#019655;

$tomatoRedColor: #d81e05;

$backgroundColorDisabled: rgba(0, 0, 0, 0.05);
