<merca-modal-header [title]="'table-configuration-modal.modal.title' | translate"
  [hideCloseButton]="true"></merca-modal-header>
<div class="modal-body">
  <div cdkDropList cdkDropListLockAxis="y" cdkDropListBeforeSwap="canSwapColumns($event)"
    (cdkDropListDropped)="onColumnDrop($event)">
    <ng-container *ngFor="let column of columns; let i = index">
      <div class="drag-element" cdkDrag [cdkDragDisabled]="column.fixed">
        <div>
          <div *cdkDragPlaceholder></div>
          {{ column.label | translate}}
        </div>
        <div class="option-buttons">
          <button id="fixed-screw" type="button" class="merca-button-icon"
            (click)="toggleColumnFixedPosition(column, i)">
            <span class="material-icons">lock</span>
          </button>
          <button id="hidden-screw" type="button" class="merca-button-icon" (click)="toggleColumnVisibility(column, i)">
            <span class="material-icons">visibility</span>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<merca-modal-footer [primaryText]="'global.save' | translate" [secondaryText]="'global.close' | translate"
  (primaryClick)="onAccept()" (secondaryClick)="onClose()"></merca-modal-footer>