@import '../../../../../../../assets/styles/variables';

.modal-body {
  margin: 10px;

  .cdk-drop-list {
    border: 1px dashed $mediumGray;
    padding: 10px;
    min-height: 50px;
  }

  .cdk-drag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $whiteColor;
    border: 1px solid $mediumGray;
    padding: 10px;
    margin-bottom: 10px;
    cursor: grab;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 5px $mediumGray;
    }

    &.fixed {
      background-color: $lightGray;
    }

    div:first-child {
      flex: 1;
    }
  }

  .option-buttons {
    display: flex;
    align-items: center;
  }

  #fixed-screw,
  #hidden-screw {
    margin-left: 10px;
    background-color: $whiteColor;
    border: 1px solid $mediumGray;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $lightGray;
    }

    .material-icons {
      font-size: 20px;
    }
  }

  [cdkDragPlaceholder] {
    visibility: hidden;
    height: 0;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
